/* Importer toutes les font du dossier /font */
@font-face {
    font-family: 'Changa';
    src: url('font/Changa/Changa-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Changa';
    src: url('font/Changa/Changa-Light.ttf');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Changa';
    src: url('font/Changa/Changa-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Changa';
    src: url('font/Changa/Changa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Changa';
    src: url('font/Changa/Changa-SemiBold.ttf');
    font-weight: semi-bold;
    font-style: normal;
}
@font-face {
    font-family: 'Changa';
    src: url('font/Changa/Changa-Thin.ttf');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'TrajanPro', serif;
    src: url('fonts/TrajanPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Bodoni';
    src: url('fonts/BodoniModa-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #20022b;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 100vh;

    background-color: #FFF5E0;
    color: #000;

    font-family: 'Bodoni Moda', serif;
}

.center{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.scrollbtn{
    position: absolute;
    top: 90vh;
    left: 50%;
}

#header div h1{
    font-size: 48px;
    text-align: center;
}

#header div .textIntro{
    width: 800px;
    text-align: justify;
    font-size: 30px;
}

#header div .textIntro span{
    font-weight: bold;
}

section#main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main{
    height: 100vh;
}

article{
    text-align: center;
    height: 100vh;
}

#bgIcare{
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    filter: contrast(100%);
    overflow: hidden;
}
#icare{
    cursor: url('img/ico/sun.svg'), pointer;
    background-image: url(img/Icare/1.png);
    background-size: cover;
}
#icare:hover #bgIcare img{
    transition: 1.5s;
}

#bgIcare img{
    transition: all 0.8s;
    position: absolute;
    top: -10vh;
    right: -2.5vw;
    
    width: 65vh;
    height: 64vh;
}

#bgIcare .character-name{
    transition: all 0.5s;

    font-weight: 100;
    font-size: 15vh;
    transform: rotate(-90deg);

    position: absolute;
    left: -5vw;
    top: 45vh;
}

#bgIcare .title-article{
    transition: all 0.8s;

    font-size: 36px;
    font-style: italic;

    position: absolute;
    left: 10vw;
    top: 88vh;
}

#narcisse:hover #bgNarcisse img{
    transition: 1.5s;
}

#bgNarcisse{
    transition: all 0.5s;
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
}

#narcisse{
    cursor: url('img/ico/hearth.svg'), pointer;
    background-image: url(img/Narcisse/1.png);
    background-size: cover;
}

#bgNarcisse img{
    transition: all 0.8s;
    position: absolute;
    top: 134vh;
    left: 75vw;

    width: 57vh;
}

#bgNarcisse .character-name{
    transition: all 0.5s;

    font-weight: 100;
    font-size: 15vh;
    transform: rotate(-90deg);

    position: absolute;
    left: 58vw;
    top: 148vh;
}

#bgNarcisse .title-article{
    font-size: 36px;
    font-style: italic;

    position: absolute;
    left: 76vw;
    top: 111vh;

    transition: all 0.8s;
}

#ContentNarcisse{
    font-family: 'Trajan Pro';
}

#midas{
    cursor: url('img/ico/money.svg'), pointer;
    background-image: url(img/Midas/1.png);
    background-size: cover;
    color: black;
}

#midas:hover #bgMidas img{
    transition: 1.5s;
}
#Midas1 h2 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 40% 0 0 0;
}
#Midas1 p {
    text-align: center;
}
#bgMidas{
    transition: all 0.5s;
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    filter: contrast(100%);
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
}

#bgMidas img{
    transition: all 0.8s;
    position: absolute;
    top: 40vh;
    left: 2vw;

    width: 56vh;
    height: 80vh;
}

#bgMidas .character-name{
    transition: all 0.5s;
    font-weight: 100;
    font-size: 15vh;
    transform: rotate(90deg);

    position: absolute;
    left: 17vw;
    top: 35vh;
}

#bgMidas .title-article{
    font-size: 36px;
    font-style: italic;

    position: absolute;
    top: 10vh;
    left: 10vw;

    transition: all 0.8s;
}

.content{
    height: 100vh;
    overflow-x: hidden;

    opacity: 0;
    transition: all 0.5s;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.content div{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.scrollframe {
    scroll-snap-align: start;
}

.content::-webkit-scrollbar{
    /* A faire */
}

.textCutIcare, .textCutMidas{
    height: 100vh;
    font-family: Libre Bodoni;
    padding-top: 70px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: left;
}

.textCutIcare p{
    font-family: 'Changa', sans-serif;
}
.textCutIcare .title{
    font-family: 'Changa', sans-serif;
}

#Icare1 h2{
    font-size: 48px;
    text-align: center;
}
#Icare1{
    background-image: url('img/Icare/1.png');
    background-size: cover;
}
#Icare1 p{
    position: relative;
    top: 30%;
    font-size: 64px;
    font-weight: bold;
}
#Icare2{
    background-image: url('img/Icare/2.png');
    background-size: cover;
}
#Icare2 p{
    margin: 1.5em;   
    line-height: 45px;
    font-size: 36px;
}#Icare3 p{
    margin: 1.5em;   
    line-height: 45px;
    font-size: 36px;
}#Icare4 p{
    margin: 1.5em;   
    line-height: 45px;
    font-size: 36px;
}

#Icare3{
    background-image: url('img/Icare/3.png');
    background-size: cover;
}
#Icare4{
    background-image: url('img/Icare/4.png');
    background-size: cover;
}

.textCutNarcisse h2{
    font-weight: bold;
    font-size: 44px;
    padding-top: 70px;
}

.textCutNarcisse .title{
    font-size: 60px;
    font-weight: bold;
    padding-top: 25vh;
    margin-left: 18px;
}

.textCutNarcisse{
    height: 100vh;
    font-family: 'Trajan Pro';
}

.textCutNarcisse p{
    font-size: 32px;
    padding-top: 70px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: left;
}

#Narcisse1 h2{
    font-size: 48px;

}
#Narcisse1{
    background-image: url('img/Narcisse/1.png');
    background-size: cover;
}


#Narcisse2{
    background-image: url('img/Narcisse/2.png');
    background-size: cover;
}
#Narcisse3{
    background-image: url('img/Narcisse/3.png');
    background-size: cover;
}
#Narcisse4{
    background-image: url('img/Narcisse/4.png');
    background-size: cover;
}

.textCutMidas{
    height: 100vh;
    font-family: Libre Bodoni;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textCutMidas p{
    font-size: 32px;
    padding-top: 70px;
    padding-left: 48px;
    padding-right: 48px;
   
    text-shadow: #ffffff 0px 2px 5px;
}

#Midas1{
    background-image: url('img/Midas/1.png');
    background-size: cover;
}
#Midas2{
    background-image: url('img/Midas/2.png');
    background-size: cover;
}
#Midas3{
    background-image: url('img/Midas/3.png');
    background-size: cover;
}
#Midas4{
    background-image: url('img/Midas/4.png');
    background-size: cover;
}

#Midas3, #Midas4 {
    color: #ffffff;
}
