*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #20022b;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 100vh;

    background-color: #FFF5E0;
    color: #000;

    font-family: 'Bodoni Moda', serif;
}

.center{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.scrollbtn{
    position: absolute;
    top: 90vh;
    left: 50%;
}

#header div h1{
    font-size: 48px;
    text-align: center;
}

#header div .textIntro{
    width: 800px;
    text-align: justify;
    font-size: 30px;
}

#header div .textIntro span{
    font-weight: bold;
}

section#main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main{
    height: 100vh;
}

article{
    text-align: center;
    height: 100vh;
}

#bgIcare{
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    filter: contrast(100%);
    cursor: url('img/ico/sun.svg'), pointer;
    overflow: hidden;
}

#bgIcare img{
    position: absolute;
    top: -10vh;
    right: -2.5vw;
    
    width: 65vh;
    height: 64vh;
}

#bgIcare .character-name{
    font-weight: 100;
    font-size: 15vh;
    transform: rotate(-90deg);

    position: absolute;
    left: -5vw;
    top: 45vh;
}

#bgIcare .title-article{
    font-size: 36px;
    font-style: italic;

    position: absolute;
    left: 10vw;
    top: 88vh;
}

#narcisse:hover #bgNarcisse img{
    transition: 1.5s;
    left: 85vw;
}

#bgNarcisse{
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: url('img/ico/hearth.svg'), pointer;
}

#bgNarcisse img{
    position: absolute;
    top: 134vh;
    left: 75vw;

    width: 57vh;
}

#bgNarcisse .character-name{
    font-weight: 100;
    font-size: 15vh;
    transform: rotate(-90deg);

    position: absolute;
    left: 58vw;
    top: 148vh;
}

#bgNarcisse .title-article{
    font-size: 36px;
    font-style: italic;

    position: absolute;
    left: 78vw;
    top: 111vh;
}

#bgMidas{
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    filter: contrast(100%);
    cursor: url('img/ico/money.svg'), pointer;
    border-left: 2px solid white;
    border-right: 2px solid white;

}

#bgMidas img{
    position: absolute;
    top: 40vh;
    left: 2vw;

    width: 56vh;
    height: 80vh;
}

#bgMidas .character-name{
    font-weight: 100;
    font-size: 15vh;
    transform: rotate(90deg);

    position: absolute;
    left: 17vw;
    top: 35vh;
}

#bgMidas .title-article{
    font-size: 36px;
    font-style: italic;

    position: absolute;
    top: 10vh;
    left: 10vw;
}

.content{
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
}
.content::-webkit-scrollbar{
    /* A faire */
}
.textCutIcare{
    height: 100vh;
    
}